# Flutter
.dart_tool/
.dart_tool/chrome-device/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/*
!.vscode/launch.json
*.swp

# Secrets
.env
*.env
dart_defines.json

# OS
.DS_Store
Thumbs.db
